 
.apropos-des-container {
    padding: 0px 20px 20px 20px;
    max-width: 1200px;
    margin: -40px auto auto auto;
    font-family: Arial, sans-serif;
    color: #333; 
  }
  
 
  .apropos-des-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #1B5C9E;
  }
  
  .apropos-des-container h3 {
    font-size: 1.4em;
     
    margin-bottom: 5px;
    text-align: center;
    color: #000000;
  }
  

  .apropos-des-container p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
  }
  
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .feature-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .feature-card h4 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #333;
  }
  
  .feature-card p {
    font-size: 0.9em;
    color: #666;
  }
  
 
  .testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .testimonial-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial-card p {
    font-size: 0.9em;
    color: #666;
    font-style: italic;
  }
  
  .testimonial-card .author {
    text-align: right;
    font-weight: bold;
    color: #333;
    margin-top: 10px;

  }
  
  
  .cta-section {
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    background: #e3f2fd;
    border-radius: 8px;
    width: 1032px;
    margin-left: 53px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
  }
  
  .cta-section h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cta-section p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background: #1B5C9E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .cta-button:hover {
    background: #1BB13C;
  }