.blood-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
 
}

.blood-form-title {
    color: #1B5C9E;
    margin-bottom: 30px;
    text-align: center;
    font-size: 34px;
}

.blood-grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.blood-form-group {
    display: flex;
    flex-direction: column;
}

.blood-full-width {
    grid-column: span 2;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.blood-btn {
    grid-column: span 2;
    padding: 10px;
    background-color: #1B5C9E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.blood-btn:hover {
    background-color: #1BB13C;
}
