.slick-slide {
    padding: 25px 10px; 
  }
  .slider-containerS {
    height: auto; 
    max-height: 400px; 
    overflow: hidden; 
    cursor: grab;
    position: relative;
    z-index: 2; 
 

}
.slick-slide {
  padding: 25px 10px; 
}



