.Functions {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne si trop large */
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.Functions select,
.Functions input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  width: 250px; /* Largeur fixe sur desktop */
}

@media (max-width: 768px) {
  .Functions {
    flex-direction: column;
  }

  .Functions select,
  .Functions input {
    width: 90%; /* Plus fluide sur mobile */
  }
}
