.statistique-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 30px; 
    margin-top: 30px;
    padding: 0 10px;
}

.Statistics-co {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.256);
    border-radius: 12px;
    padding: 20px;
    gap: 20px;
}

.statistique-section {
    flex: 1 1 45%; /* permet deux colonnes sur desktop, passe en colonne sur mobile */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding-bottom: 15px;
    min-width: 280px; /* pour éviter un écrasement trop fort */
}

#Blood {
    margin: 0; /* On supprime les marges fixes */
}
#Care {
    margin: 0;
}

.statistique-title {
    font-size: 27px;
    font-weight: bold;
    color: #1B5C9E;
    margin: 20px 0 15px 0;
    text-align: center;
}

.chart-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    width: 100%;
}

.details-item {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 3px;
    
}

.custom-tooltip p {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    min-width: 100px; 
    min-height: 40px; 
}

/* ----------- RESPONSIVE ----------- */

@media (max-width: 992px) {
    .Statistics-co {
        flex-direction: column;
        align-items: center;
    }

    .statistique-section {
        width: 90%;
    }

    .details-container {
        padding-left: 0;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .statistique-title {
        font-size: 22px;
    }

    .details-item {
        font-size: 14px;
    }

    .custom-tooltip p {
        font-size: 14px;
    }
}

