@import 'boxicons/css/boxicons.min.css';

.footer {
  background-color: #0A0D24;
  color: white;
  padding: 2rem;
  text-align: center;
  height: 350px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
}

.footer-section {
  max-width: 250px;
}

/* Titres */
.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Texte & Listes */
.footer-section p,
.footer-section ul {
  font-size: 0.9rem;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

 
.footer-section a {
  color: rgb(229, 221, 207);
  text-decoration: none;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.footer-section a:hover {
  color: rgba(5, 215, 187, 0.909);
  text-shadow: 2px 2px 5px rgba(28, 244, 215, 0.909);
}

 
.footer-separator {
  width: 90%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  margin: 10px auto;
}

 
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 1.5rem;
}
 
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;  
  margin-bottom: 1rem;
}

.social-icons a {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

 
.social-icons a:hover {
  color: rgba(5, 215, 187, 0.909);
  transform: scale(1.1);
}

 
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .footer{
    height: 840px;
  }
}
