.Reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-bottom:10px;
}

.left {
    width: 50%;
}

.left h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
}

.right {
    width: 45%;
}

.right img {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-row input, .form-row select {
    flex: 1; /* Permet aux inputs d'avoir la même largeur */
}

@media (max-width: 1024px) {
    .Reservation {
        flex-direction: column;
        width: 90%;
        padding: 20px;
    }

    .left, .right {
        width: 100%;
    }

    .left h2 {
        font-size: 28px;
        text-align: center;
    }

    .form-row {
        flex-direction: column;
        gap: 15px;
    }

    input, select, button {
        font-size: 15px;
        width: 100%;
    }

    .right img {
        display:none;
    }
}

@media (max-width: 600px) {
    .left h2 {
        font-size: 24px;
    }

    .form-row {
        gap: 10px;
    }

    input, select, button {
        padding: 8px;
        font-size: 14px;
    }

    .right img {
        display:none;
    }
}
