.Reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-bottom:10px;
}

.left {
    width: 50%;
}

.left h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
}

.right {
    width: 45%;
}

.right img {
    width: 100%;
}
